{
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "allowTopLevelThis": true,
            "loose": true
          }
        ]
      ]
    }
  },
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
}
